@import "../theme.scss";

.ranking {
  width: 100%;
  color: var(--text-off-white);
  padding-bottom: 3px;

  .title {
    font-size: medium;
    //   background-color: #38424e;
    padding: 2px 0;
  }

  .body {
    padding: 3px 2px;
    display: flex;
    align-items: center;
    font-size: small;
    background-color: var(--background-color);

    div {
      margin: 0 3px;
    }
  }

  .borderBottom {
    border-bottom: 1px solid #44505e;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
    padding: 2px 0;
    background-color: #38424e;
  }
}
