.main {
  overflow-x: auto;
    // width: 100%;
  background-image: url('../../../public/valorant.webp');
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #0F1923;
}

.container .col-2,
.container .col-8 {
  flex-shrink: 0;
  //   max-width: calc(100% - 4rem);
}

.content {
  background-color: #13151A;
}

@media (max-width: 1439px) {
  .main {
    width: 150%;
  }
  .container {
    justify-content: center;
    width: 1440px;
  }
}
