.date-selector {
  font-weight: bold;
}

.date-selector .arrow {
  color: #2d6da3;
 width: 1.5rem;
 height: 1.5rem;
}

.date-selector .arrow:hover {
  background-color: rgba(255, 255, 255, 0.854);
  cursor: pointer;
}
