:root {
  --main-bg-color: #13151a;
  --primary-orange: #e8b540;
  --main-bg-analogue: #414653;
  --text-off-white: #e8e6e3;
  --white: #ffffff;
  --gray-blue: #2d6da3;
  --dark-gray: #464646;
  --background-color: #191c21;
}
