.App {
  text-align: center;
  font-family: "Calps Sans", Helvetica, Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appBG {
  margin-top: 2rem;
  background-color: #e5e7ea;
  font-family: "Calps Sans", Helvetica, Arial, sans-serif;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Calps Sans';
  src: local('CalpsSans'), url(./fonts/CalpsSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Calps Sans';
    font-weight: 900;
    src: local('CalpsSans'), url(./fonts/CalpsSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Calps Sans';
    font-weight: 900;
    src: local('CalpsSans'), url(./fonts/CalpsSans-Black.ttf) format('truetype');
}