.team-rank {
  margin-bottom: 6px;

  .head {
    background-color: white;
    padding: 2px 6px;
    height: 2.5rem;
    cursor: pointer;
  }
}

.rank {
  font-weight: bold;
}

.name {
  font-size: medium;

  span {
    font-size: small;
  }
}

.compare {
  font-size: small;
}

.increased {
  color: green;
}

.decreased {
  color: red;
}

.players-names {
  font-size: x-small;
  margin: -2px 3px 0 0;
  padding: -2rem;
}

.player-name {
  font-size: small;
}

.rank-detail-btn {
  font-size: small;
}

.rank-detail-btn button {
  border: none;
  background-color: white;
  margin-top: 0.3rem;
}
.rank-detail-btn button:hover {
  background-color: rgb(245, 245, 245);
  width: 100%;
  border-radius: 5px;
}

.drop-items-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.drop-items-container.open {
  max-height: 200px; /* or adjust based on your content */
  opacity: 1;
  transform: translateY(0);
}

.drop-items-container.close {
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
}
